alias ?='echo $?'
alias ag='alias | grep'
alias agi='sudo apt-get install'
alias alais='alias'
alias alias-save='save-alias'
alias append='history -a'
alias append-history='hisory -a'
alias chk-off='/sbin/chkconfig --list | grep "`/sbin/runlevel | cut -d " " -f2`:off"'
alias chk-on='/sbin/chkconfig --list | grep "`/sbin/runlevel | cut -d " " -f2`:on"'
alias count='wc -l'
alias d='ls -aFl'
alias delete='history -d'
alias dq='dpkg-query'
alias e='python ~/bin/edit.py'
alias ec='emacsclient'
alias eclipse='/opt/eclipse/eclipse'
alias eg='export | grep -i'
alias egrep='egrep --color=auto'
alias en='emacs -nw -q --load ~/.emacs-nw'
alias enw='screen -c ~/.screenrc-emacs'
alias fgrep='fgrep --color=auto'
alias force-rebuild='find . -type d -name build -prune -o -type f -name \*.[ch] -perm /u+w -exec touch {} \;'
alias ga='git add'
alias gb='git branch'
alias gba='git branch -a'
alias gbr='git branch -r'
alias gc='git commit -a'
alias gcb='git rev-parse --abbrev-ref HEAD'
alias gcm='git commit'
alias gco='git checkout'
alias gd='git --paginate difftool --extcmd "$HOME/scm/icdiff/icdiff --line-numbers --no-bold" -y'
alias gdc='git diff --cached'
alias gff='ffg'
alias gg='git log --date=short --pretty="%C(yellow)%h%Creset %C(green)%ad%Creset %C(blue)%an%Creset %C(yellow)%d%Creset %C(magenta)%s%Creset" --graph --all'
alias gh='git help'
alias gk='gitk --all'
alias gl='git log'
alias glh='LINES=$(stty size | cut -d " " -f1) git log | head -n $((LINES-4))'
alias gpl='git pull'
alias gpu='git push'
alias gr='git remote -v'
alias gre='git checkout -- '
alias grep='grep --color'
alias grpe='grep'
alias grs='git remote -v show'
alias grso='git remote -v show origin'
alias gs='git status'
alias gsh='git show'
alias gsmod='git status | grep -B 10000 "Untracked files" | grep -v "Untracked files" | tail -n +5 | grep -v "#[ ]*$"'
alias gsnew='git status | grep -A 10000 "Untracked files" | grep "^#" | tail -n +4'
alias ha='history -a'
alias hn='history -n'
alias hx='hexdump -vC'
alias ifc='sudo /sbin/ifconfig'
alias kd='kdiff3'
alias l.='ls -d .* --color=tty'
alias les='less'
alias less='less -iFRSX'
alias list-screen-windows='for s in `ls /var/run/screen/S-${USER}`; do printf "%16s: " $s; screen -S $s -Q windows; echo ""; done'
alias listening='sudo netstat -ntulp | awk "/LISTEN/ {print \$4, \$NF}" | grep -v "@" | while read -a x; do i=${x[0]##*:}; p=$(ps -o args --no-header -p ${x[1]%/*}); printf "%b%6d%b %s\\n" "\033[01;37m" $i "\033[0m" "$p"; done'
alias ll='ls -l --color=tty'
alias ls='ls --color=auto'
alias m='make '
alias maek='make'
alias make='color-make'
alias mc='make -C'
alias mi='make install'
alias mj='make -j $(($(grep "^processor" /proc/cpuinfo | wc -l) + 1))'
alias myps='ps -F -u $USER'
alias new='history -n'
alias nl='nl -b a'
alias np='sudo netstat -ntulp'
alias pad='p4 add'
alias path='echo $PATH'
alias pd='p4_depot'
alias pd2='p4 diff2'
alias pdc='p4 describe -s'
alias pdi='p4 diff'
alias pe='p4 edit'
alias pend='p4-pend'
alias pf='p4 files '
alias phv='p4 have'
alias pint='p4 integrate'
alias pl='p4_local'
alias plog='p4 filelog -l '
alias po='popd'
alias pra='p4 revert -a'
alias pre='p4 revert'
alias prm='p4 delete'
alias psc='p4 sync'
alias psu='p4 submit'
alias pu='pushd'
alias r='sudo '
alias read-history='history -n'
alias rf='rpm -q --filesbypkg '
alias rl='/home/dw/bin/relocate'
alias rq='sudo rpm -qa | grep --color=never -i '
alias rwp='rpm -q --whatprovides '
alias rwq='rpm -q --whatrequires '
alias search='apt-cache search'
alias show='apt-cache show'
alias store='history -s'
alias sub='p4 changes -u dweekley -s submitted -l | less'
alias svc='sudo /sbin/service'
alias ttyusb='usbtty'
alias tyep='type'
alias unexport='export -n'
alias usbtty='find /dev -mindepth 1 -maxdepth 1 -iname "tty*usb*"'
alias vi='vim'
alias xf='xmllint --format'
alias xg='xargs grep --color'
alias xgi='xargs grep -i --color'
alias xgn='xargs grep -n --color'
alias yum='sudo yum '
alias yumdownloader='sudo yumdownloader '
